#experiences {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: experiences;
    margin-top: 5%;
    margin-bottom: 5%;
}

.resumeExperiencesGridContainer {
    display: grid;
    grid:
        "exp1  timeline ."     25%
        ".     timeline exp2"  25%
        "exp3  timeline ."     25%
        ".     timeline exp4"  25%
      / 1fr    .01fr    1fr;
    height: 100%;
    width: 90%;
    padding-bottom: 5%;
}

.textContainer {
    align-items: center;
    display: flex;
    justify-content: center;
}

.box {
    background-color: var(--primary-color);
    border: solid;
    border-color: var(--primary-color);
    border-radius: 6px;
    border-width: 3px;
    padding-left: 5%;
    padding-right: 5%;
}

.box>h3 {
    color: var(--secondary-color);
    font-size: 2rem;
}
.box>p {
    text-align: start;
    color: var(--secondary-color)
}

.connector {
    border: solid;
    border-color: var(--primary-color);
    padding: 0;
    width: 100%;
}

#timeline {
    grid-area: timeline;
    width: 100%;
    height: 100%
}

#exp1 {
    grid-area: exp1;
}

#exp2 {
    grid-area: exp2;
}

#exp3 {
    grid-area: exp3;
}

#exp4 {
    grid-area: exp4;
}


@media screen and (max-width: 480px) {
    .resumeExperiencesGridContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 90%;
        margin-bottom: 5%;
    }

    .box {
        margin-bottom: 5%;
        padding: 5%;
    }

    .box>h3 {
        margin: 0;
        padding: 0;
    }

    .connector {
        width: 0%;
        border: none;
    }

    #timeline {
        display: hidden;
    }

}

@media screen and (min-width: 480px) and (max-width: 768px) {

    .resumeExperiencesGridContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 90%;
        margin-bottom: 5%;
    }

    .box {
        margin-bottom: 5%;
        padding: 5%;
    }

    .box>h3 {
        margin: 0;
        padding: 0;
    }

    .connector {
        width: 0%;
        border: none;
    }

    #timeline {
        display: hidden;
    }

}