#formations {
    grid-area: formations;
    width: 100%;
    height: 100%;
}

#formations>h2{
    padding: 0;
}

#formations>h2, #formations>h3, #formations>ul>li {
    color: var(--primary-color);
}

#formations>h3{
    margin-left: 5%;
}


@media screen and (max-width: 480px) {
    #formations{
        padding: 20px;
        width: 100%;

    }

    #formations>h2{
        margin-top: 5%;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px){
    
    #formations{
        padding: 20px;
        width: 100%;
    }

    #formations>h2{
        margin-top: 5%;
    }
}