.indexBodyGridContainer {
    display: grid;
    grid: 
        "header      header nav"    25vh
        "pinkPanther main   nav"    auto
        "pinkPanther main   nav"    auto
        "footer footer footer" 10vh
       /1fr          2fr    2fr;
    height: 100vh;
}

#indexHeader {
    align-items: center;
    display: flex;
    grid-area: header;
    justify-content: flex-end;
    height: 100%;
    border-radius: 0 0 1rem 0;
}

#indexHeader>h1 {
    font-size: 7rem;
}

#indexNav {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: nav;
    justify-content: space-around;
    margin-right: 5%;
    padding: 2.5%;
    height: 100%;
}

#indexNav>button {
    background-color: transparent;
    border: solid;
    border-color:  var(--primary-color);
    border-radius: 12px;
    width: 100%;
}

#indexNav>button:hover {
    transform: rotate(0.03turn);
}

#indexNav>button>h2:hover {
    color: var(--quaternary-color);
}

#indexNav>button>h2>a {
    font-size: 3.5rem;
    text-decoration: none;
    color: var(--primary-color);
}

#pinkPanther {
    grid-area: pinkPanther;
    height: 90%;
    top: 10%;
    left: -10%;
    
    pointer-events: none;
}

#pantherDesktop {
    transform: scaleX(-1);
    position: absolute;
    bottom: 0px;
    height: 83%;
    left: -70px
}

#pantherMobile {
    display: none;
}

#indexBody>main {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: main;
    justify-content: center;
}

#indexBody>video {
    padding: 5%;
}

#indexBody>main>div {
    text-align: center;
    color: var(--primary-color);
    margin: 5%;
    padding: 0;
}

#indexBody>main>div>h2 {
    font-size: 2rem;
    text-align: center;
    color: var(--primary-color);
}

#indexBody>main>div>h3 {
    color: var(--primary-color);
}

#indexBody>footer {
    grid-area: footer;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    color: var(--quinary-color);
    padding-right: 5%;

}

@media screen and (max-width: 768px) {
    #indexBody {
        box-sizing: border-box;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    #indexBody>header {
        display: flex;
        grid-area: header;
        width: 100%;
    }

    #indexBody header>h1 {
        font-size: 2.5rem;
    }

    #indexNav {
        margin: 0;
        margin-top: -95%;
    }

    #indexNav>button>h2>a {
        font-size: 2rem;
    }

    #indexBody>main {
        grid-area: main;
    }

    #indexBody>footer {
        grid-area: footer;
    }

    header>h1 {
        margin: 0;
        padding: 0;
    }

    nav {
        display: none;
    }

    #pantherDesktop {
        display: none;
    }

    #pantherMobile {
        display: initial;
        height: 50%;
        transform: scaleX(-1);
    }

    main {
        margin-left: 5%;
        margin-right: 5%;
    }

    video {
        width: 100%;
    }

    footer>p {
        text-align: center;
    }

    footer {
        padding: 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #indexBody {
        box-sizing: border-box;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    #indexNav {
        margin: -40% 0 0 0;
    }

    #pantherDesktop {
        display: none;
    }

    #pantherMobile {
        height: 50%;
        display: initial;
        transform: scaleX(-1);
    }

    video {
        width: 90%;
    }

    #indexHeader {
        justify-content: center;
    }
    #indexHeader>h1 {
        font-size: 5rem;
        margin: 0;
    }

    footer {
        padding: 40px;
    }
}