.gridContainer {
    display: grid;
    grid: 
        "header      header nav"    20vh
        "pinkPanther main   nav"    auto
        "pinkPanther main   nav"    auto
        "pinkPanther footer footer" 10vh
       /1fr          2fr    2fr;
    height: 100vh;
}

header {
    grid-area: header;
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header>h1 {
    color: white;
    padding-right: 5%;
    font-size: 600%;
}

nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2.5%;
}

nav>button {
    width: 100%;
    border: solid;
    border-radius: 12px;
    border-color:  var(--primary-color);
    background-color: transparent;
}

button:hover {
    
    transform: rotate(0.03turn);
}

nav>button>h1:hover {
    color: var(--quaternary-color);
}



#pinkPanther {
    grid-area: pinkPanther;
    position: absolute;
    height: 90%;
    left: -5%;
    bottom: -3%;
}

main {
    grid-area: main;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}

h3 {
    text-align: center;
}

footer {
    grid-area: footer;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}

#pinkPanther>img {
    transform: scaleX(-1);
    height: 100%;
}