.gridContainer {
    display: grid;
    grid: 
        "header      header nav"    25vh
        "pinkPanther main   nav"    auto
        "pinkPanther main   nav"    auto
        "pinkPanther footer footer" 10vh
       /1fr          2fr    2fr;
    height: 100vh;
}

header {
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    grid-area: header;
    justify-content: flex-end;
}

header>h1 {
    color: white;
    font-size: 5rem;
    margin-right: 3%;
}

nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: nav;
    justify-content: space-around;
    margin-right: 5%;
    padding: 2.5%;
}

nav>button {
    background-color: transparent;
    border: solid;
    border-color:  var(--primary-color);
    border-radius: 12px;
    width: 100%;
}

button:hover {
    transform: rotate(0.03turn);
}

nav>button>h1:hover {
    color: var(--quaternary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

#pinkPanther {
    bottom: -3%;
    grid-area: pinkPanther;
    height: 90%;
    left: -10%;
    position: absolute;
    pointer-events: none;
}

#pantherDesktop {
    height: 100%;
    transform: scaleX(-1);
}

#pantherMobile {
    display: none;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: main;
    justify-content: flex-start;
    padding: 5%;
}

iframe {
    height: 100%;
    width: 100%;
}

h3 {
    text-align: center;
    color: var(--primary-color);
}

footer {
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    grid-area: footer;
    justify-content: space-around;
    padding: 5%;
    text-align: end;
    padding-left: 15%;
}

@media screen and (max-width: 768px) {
    body {
        box-sizing: border-box;
        margin: 0;
    }

    .gridContainer {
        display: grid;
        grid: 
        "header" 20vh
        "main"   auto
        "main"   auto
        "footer" 10vh
        /1fr;
        height: 100vh;
    }

    header {
        display: flex;
    }

    header>h1 {
        margin: 0;
        padding: 0;
    }

    nav {
        display: none;
    }

    #pantherDesktop {
        display: none;
    }
    
    #pantherMobile {
        height: 50%;
        display: initial;
        transform: scaleX(-1);
    }

    main {
        margin-left: 5%;
        margin-right: 5%;
    }
}