@media screen and (max-width: 768px) {
    #plan {
        background-color: var(--secondary-color);
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {

}

#plan {
    background-color: var(--secondary-color);
    width: 100%;
    height: 50%;
    margin-top: 60%
}