#navbar{
    display: flex;
    justify-content: center;
    align-items: center;;
    width: 100%;
}

#navbar>#topNav {
    display: none;
}

#navbar>#linksNav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
}

#navbar>#linksNav>a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 2rem;
}

#navbar>#linksNav>a:hover {
    color: var(--primary-color);
    background-color: var(--secondary--color);
}

#icon {
    color: var(--secondary-color);
}


@media screen and (max-width: 480px) {
    #navbar{
        flex-direction: column;
    }

    #navbar>#topNav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 8vh;
        padding-left: 5%;
        padding-right: 5%;
    }

    #navbar>#topNav>#logoResponsive {
        font-size: 2rem;
        font-family: POTRZEBI;
        text-decoration: none;
    }

    #navbar>#linksNav {
        display: none;
        flex-direction: column;
        align-items: start;
    }

    #navbar>#linksNav>a {
        text-align: start;
        padding-left: 5%;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    #navbar{
        flex-direction: column;
    }

    #navbar>#topNav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 8vh;
        padding-left: 5%;
        padding-right: 5%;
    }

    #navbar>#topNav>#logoResponsive {
        font-size: 3rem;
        font-family: POTRZEBI;
        text-decoration: none;
    }

    #navbar>#linksNav {
        display: none;
        flex-direction: column;
        align-items: start;
    }

    #navbar>#linksNav>a {
        text-align: start;
        padding-left: 5%;
    }
}