#topNav {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

#topNav>div>a {
    text-decoration: none;
    font-size: 1.5rem;
    float: left;
}

#topNav a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#topNav>#icon {
    display: none;
    color: var(--secondary-color);
}

#logoResponsive {
    display: none;
}

#navbarResponsive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

#navbarResponsive>a {
    width: 100%;
    height: 100%;
    padding: 3%;
    text-align: center;
}

#logoResponsive {
    font-family: POTRZEBI;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}





/* -- Phone --*/
@media screen and (max-width: 480px) {
    #topNav {
        background-color: var(--primary-color);
        height: 10vh;
        margin: auto 0;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    #topNav>#icon, #topNav>#logoResponsive {
        display: initial;
        text-decoration: none;
        margin: auto;
    }

    #navbarResponsive {
        display: none;
    }

    #navbarResponsive>a {
        text-align: start;
    }
}

/*-- Tablet --*/

@media screen and (min-width: 480px) and (max-width: 768px) {

    #topNav {
        background-color: var(--primary-color);
        height: 10vh;
        margin: auto 0;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 5%;
    }
    
    #topNav>#icon, #topNav>#logoResponsive {
        display: initial;
        text-decoration: none;
        margin: auto;
    }

    #navbarResponsive {
        display: none;
    }

    #navbarResponsive>a {
        text-align: start;
        margin-left: 12%
    }
}