#topNav {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

#topNav>div>a {
    text-decoration: none;
    font-size: 1.5rem;
    float: left;
}

#topNav a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#topNav a.active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#topNav .icon {
    display: none;
}

#logoResponsive {
    display: none;
}

#navbarResponsive {
    display: contents;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

#navbarResponsive>a {
    width: 100%;
    height: 100%;
    padding: 3%;
    text-align: center;
}







/* -- Phone --*/
@media screen and (max-width: 480px) {
    #navbarResponsive {
        margin-top: 50px;
        z-index: 20;
    }

    #topNav {
        background-color: var(--primary-color);
        padding: 15px;
        z-index: 1;
    }

    #topNav a {
        text-decoration: none;
        font-size: 50px;
    }

    #topNav a.icon {
        float: right;
        display: block;
    }

    #topNav.responsive {
        position: relative;
    }

    #topNav.responsive .icon {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    #topNav.responsive a {
        display: block;
        text-align: left;
    }

}

/*-- Tablet --*/

@media screen and (min-width: 480px) and (max-width: 768px) {

    #topNav {
        
        padding: 15px;
        position: relative;
    }

    #topNav a {
        text-decoration: none;
        font-size: 52px;
    }

    #topNav a.icon {
        float: right;
        display: content;
    }

    #topNav.responsive {
        position: relative;
    }

    #topNav.responsive .icon {
        position: absolute;
        right: 15px;
        top: 15px;
    }

    #topNav.responsive a {
        display: block;
        text-align: left;
    }
}