* {
    box-sizing: border-box;
}

body {
    margin: auto 0;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--quinary);
}

.bodyGridContainer {
    display: grid;
    grid:
        "header"              8vh
        "biography"           auto
        "softSkillsFormation" auto
        "experience"          auto
        "contactPlan"         auto
        "footer"              10vh
        /1fr;
    height: 100vh;
}

header {
    grid-area: header;
}

section, footer {
    font-family: Josefin_Sans, Helvetica, sans-serif;
}

#biography, #softSkills, #formation, #experience, #contactPlan  {
    background-color: var(--secondary-color);
    margin: 10px;
}

@font-face {
    font-family: Josefin_Sans;
    src: url(/ASSETS/FONTS/fontsForTexts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}

#biography {
    grid-area: biography;
}

#softSkillsFormation {
    grid-area: softSkillsFormation;
    display: grid;
    grid: 
        "softSkills formation" auto
        /1fr 1fr;
}

#softSkills {
    grid-area: softSkills;
}

#formation {
    grid-area: formation;
}

#experience {
    grid-area: experience;
}

#contactPlan {
    grid-area: contactPlan;
    display: grid;
    grid: 
        "contact plan" auto
        /1fr 1fr;
}

#contact {
    grid-area: contact;
}
#plan {
    grid-area: plan;
}

footer {
    grid-area: footer;
}

@media screen and (max-width: 768px) {
    #softSkillsFormation {
        grid-area: softSkillsFormation;
        display: grid;
        grid: 
            "softSkills" auto
            "formation"  auto
            /1fr;
        ;
    }

    #contactPlan {
        grid-area: contactPlan;
        display: grid;
        grid: 
            "contact" auto
            "plan"    auto
            /1fr;
    }
}